html {
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
body {
}
/* body {
  height: 100%;
  color: #333;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-repeat: no-repeat;
  background-size: cover;
} */

.banner {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main {
    height: auto;
    padding-bottom: 200px;

    /* border: 3px solid red; */
    /* padding-top: 50px ; */
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

    /* padding-bottom: 500px; */
    /* background: #000; */
}

.primary {
    background-color: #00569e;
}

.item {
  

    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
    border-radius: 10px;
}

.item > h2 {
    margin-top: 1rem;
}

.btns {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px; /* 圓角 */
    /* box-shadow: 5px 10px 18px #888888; */
    width: 100%;
    margin: 10px 0;
}

/* Button 基本色 */
.success {
    background-color: #04aa6d;
}
.success:hover {
    background-color: #333;
}
.info {
    background-color: #2196f3;
}
.info:hover {
    background-color: #333;
}
.warning {
    background-color: #ff9800;
}
.warning:hover {
    background-color: #333;
}
.danger {
    background-color: #f44336;
}
.danger:hover {
    background-color: #333;
}
.default {
    background-color: #e7e7e7;
    color: black;
}
.default:hover {
    background-color: #333;
    color: white;
}

/* Button 日系色 */
.jp-success {
    background-color: #6a8372;
}
.jp-success:hover {
    background-color: #4a593d;
}
.jp-info {
    background-color: #58b2dc;
}
.jp-info:hover {
    background-color: #0089a7;
}
.jp-warning {
    background-color: #ffc408;
}
.jp-warning:hover {
    background-color: #efbb24;
}
.jp-danger {
    background-color: #c73e3a;
}
.jp-danger:hover {
    background-color: #ab3b3a;
}
.jp-default {
    background-color: #bdc0ba;
    color: black;
}
.jp-default:hover {
    background-color: #91989f;
    color: black;
}

/* Button 漸層色 */
.gradient-success {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    color: #333;
}
.gradient-success:hover {
    background-color: #4a593d;
}
.gradient-info {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}
.gradient-info:hover {
    background-color: #0089a7;
}
.gradient-warning {
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
}
.gradient-warning:hover {
    background-color: #efbb24;
}
.gradient-danger {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}
.gradient-danger:hover {
    background-color: #ab3b3a;
}
.gradient-default {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
}
.gradient-default:hover {
    background-color: #91989f;
    color: black;
}

.fixed-bottom {
    /* margin-top: 5000px; */
}

.test {
    border: 3px solid red;
}
